<h1><b>Đồ án thu thập dữ liệu</b></h1>
Thông tin nhóm:

<h2><b>Mô tả đồ án</b></h2>

bổ sung sau

<h2><b>Thu thập dữ liệu</b></h2>

Dữ liệu được thu thập từ trang web `itviec.com` và nguồn tải về là trên Kaggle. 

Link: https://www.kaggle.com/datasets/halhuynh/it-jobs-dataset?resource=download&select=jobs.csv

Licence: Unknown

<b><h2>Khám phá dữ liệu</b></h2>

<b>improt các thư viện</b>

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
pd.set_option('display.max_colwidth', 100) # Để dễ nhìn
pd.set_option('display.max_columns', None) # Để dễ nhìn

</b>Đọc dữ liệu vào biến `df_companies` bằng pandas.</b>

In [3]:
df_companies = pd.read_csv('../data/companies.csv')
df_companies.head(5)

,company_id,company_name,average_rating,num_review,city,type,num_employee,country,working_day,OT,overview,expertise,benifit,logo_link
0,kms-technology,KMS Technology,4.0,197 Reviews,"Ho Chi Minh, Da Nang, Ha Noi",Outsourcing,1000+,United States,Monday - Friday,No OT,"Established in 2009, KMS Technology is a U.S.-based engineering and services company with develo...",NaN,Want to be the Best? Join KMS!\n\n\nIt’s positive to claim we’re one of the top IT companies in ...,https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaH...
1,nab-in-collaboration-with-positive-thinking-company-in-vietnam,NAB in collaboration with Positive Thinking Company in Vietnam,4.4,11 Reviews,Ho Chi Minh,Product,501-1000,Australia,Monday - Friday,No OT,NAB in collaboration with Positive Thinking Company have launched a Technology Centre for NAB in...,"Languages &amp; Frameworks\n\n\nJavaScript ES6, TypeScript, Node.js, React - Redux, Java, Spring...",THE BENEFITS AND PERKS\n\n\n\n\nVery competitive remuneration package\n\n\nGenerous private fami...,https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaH...
2,robert-bosch-engineering-and-business-solutions,Robert Bosch Engineering And Business Solutions,3.2,217 Reviews,"Ho Chi Minh, Ha Noi",Product,1-50,Germany,Monday - Friday,No OT,Robert BOSCH Engineering and Business Solutions Vietnam (RBVH) is a 100% owned subsidiary of Rob...,Embedded Software for Automotive Applications\n\n\nEnterprise Software development using Java &a...,"Why \nBOSCH\n?\n\nBecause we don't just follow trends, we \ncreate \nthem.\n\nBecause together w...",https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaH...
3,gft-technologies-vietnam,GFT Technologies Vietnam,NaN,Reviews,"Ho Chi Minh, Ha Noi",Outsourcing,51-150,Germany,Monday - Friday,No OT,Working at GFT Vietnam\n\n\nGFT is driving the digital transformation of the world’s leading com...,"Technical frameworks\n\n\nJava/Kotlin, Spring Boot, Spring Framework, Kafka, Spring Cloud, JPA, ...",HR benefits\n\n\n\n\nCompetitive salary\n\n\nSalary band per level and employee benefits are rev...,https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaH...
4,tyme,Tyme,4.6,29 Reviews,"Ho Chi Minh, Ha Noi",Product,151-300,Vietnam,Monday - Friday,No OT,"Tyme Vietnam\n is the international arm of \nTyme\n \nGroup \nwith operations in Hong Kong, Viet...","Mobile/ Tablet Development: \nNative Android/iOS platforms for Mobile Banking, Kiosk Oboarding &...",Our goal is simple: to be the #1 digital technology hub in Vietnam. We pride ourselves on being ...,https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaH...

<b>Dữ liệu gồm bao nhiêu dòng và cột, lưu số dòng và số cột vào 2 biến `num_rows` và `num_cols`.</b>

In [4]:
num_rows, num_cols = df_companies.shape
print(num_cols)
print(num_rows)

14
2041

Mỗi dòng ở đây thể hiện cho thông tin của một công ty tuyển dụng

Các cột môt tả như sau:
- company_id: ID của tông ty 
- company_name: Tên công ty
- average_rating: Đánh giá trung bình
- num_review: Số lượng đánh giá
- city: Địa điểm làm việc
- type: Loại công ty (outsourcing hoặc product)
- num_employee: Số lượng nhân viên
- country: Đất nước
- working_day: Các ngày làm việc trong tuần
- OT: Thông tin về việc công ty có OT hay không?
- overview: Tổng quan về công ty
- expertise: Chuyên môn
- benifit: Phúc lợi khi làm việc
- logo_link: logo link

Các dòng và cột đều không có vấn đề, chúng ta tiếp tục khám phá dữ liệu.

<b>Các dòng của dữ liệu có bị lặp không, lưu vào biến `have_duplicated_rows` là `False` nếu không lặp và ngược lại.</b>

In [5]:
have_duplicated_rows = False
if df_companies[df_companies.duplicated()].empty == True:
    have_duplicated_rows == True
print(have_duplicated_rows)

False

<b>Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?</b>

Lưu giá trị của các kiểu dữ liệu vào biến `col_dtypes`.

In [6]:
col_dtypes = df_companies.dtypes
print(col_dtypes)

company_id         object
company_name       object
average_rating    float64
num_review         object
city               object
type               object
num_employee       object
country            object
working_day        object
OT                 object
overview           object
expertise          object
benifit            object
logo_link          object
dtype: object

<b>Tìm kiếm kiểu dữ liệu thật sự của các cột có dtype là object.</b>

In [7]:
def open_object_dtype(s):
    dtypes = set()
    s.apply(lambda x : dtypes.add(type(x)))
    return dtypes

for i in df_companies.columns:
    print(i," ", open_object_dtype(df_companies[i]))

company_id   {<class 'str'>}
company_name   {<class 'str'>}
average_rating   {<class 'float'>}
num_review   {<class 'str'>}
city   {<class 'str'>}
type   {<class 'str'>}
num_employee   {<class 'str'>}
country   {<class 'str'>}
working_day   {<class 'float'>, <class 'str'>}
OT   {<class 'float'>, <class 'str'>}
overview   {<class 'float'>, <class 'str'>}
expertise   {<class 'float'>, <class 'str'>}
benifit   {<class 'float'>, <class 'str'>}
logo_link   {<class 'str'>}

Ta có thể thấy những vấn đề sau khi khám phá:
- Cột `working_day`, `OT`, `overview`, `expertise`, `benifit` có những giá trị là float, đây có thể là những giá trị NaN nên hãy chuyển nó sang dạng chuỗi rỗng để tiện cho việc sử dụng sau này.
- Cột `num_review` đang có kiểu dữ liệu str, ta chuyển sang dạng int bằng cách chỉ lấy số lượng review
- Cột `num_employee` có dạng str ta chuyển đổi như sau:
    - Các dòng có giá trị 1000+ ta đưa về 1001
    - Các dòng có giá trị 501-1000 ta đưa về 10000
    - Các dòng có giá trị 1-50 ta đưa về 50
    - Các dòng có giá trị 51-150 ta đưa về 150
    - Các dòng có giá trị 151-300 ta đưa về 300
    - Các dòng có giá trị 301-500 ta đưa về 500

<b><h2>Tiền xử lý dữ liệu</b></h2>

**Ta tiến hành xử lý cột `num_employee`**

In [8]:
df_companies.num_employee.unique()

array(['1000+', '501-1000', '1-50', '51-150', '151-300', '301-500'],
      dtype=object)

In [9]:
def transform_age(age_type):
    if age_type == '1000+':
        k = 1001
    elif age_type == '501-1000':
        k = 1000
    elif age_type == '1-50':
        k = 50
    elif age_type == '51-150':
        k = 150
    elif age_type == '151-300':
        k = 300
    elif age_type == '301-500':
        k = 500
    else:
        k = 0
    return k

df_companies["num_employee"] = df_companies["num_employee"].apply(lambda x : transform_age(x))

**Tiếp tục xử lý dữ liệu cột `num_review`**

In [10]:
def extract_number(x):
    k = re.findall(r'\d+', x)
    if len(k) == 0:
        return 0
    else:
        return k[0]

df_companies['num_review'] = df_companies['num_review'].apply(lambda x : extract_number(x))

In [11]:
df_companies['num_review'] = df_companies.num_review.astype('int')

<b><h2>Khám phá dữ liệu ( Tiếp tục )</h2></b>

### Với mỗi cột có kiểu dữ liệu dạng số, các giá trị được phân bố như thế nào?

Với các cột có kiểu dữ liệu số, ta sẽ tính:
- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu 
- Giá trị min
- Giá trị lower quartile (phân vị 25)
- Giá trị median (phân vị 50)
- Giá trị upper quartile (phân vị 75)
- Giá trị max

Lưu kết quả vào DataFrame `num_col_info_df`, trong đó: 
- Tên của các cột là tên của các cột số trong `survey_df`
- Tên của các dòng là: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"  

Để dễ nhìn, tất cả các giá trị bạn đều làm tròn với 1 chữ số thập phân bằng phương thức `.round(1)`.

In [12]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
new_df = df_companies.select_dtypes(include=numerics)

missing_ratio = (new_df.isna().sum()*100/num_rows).round(1)
missing_ratio = missing_ratio.to_frame().T

df = new_df.describe().round(1)

min = df.iloc[[3]]

lower_quartile = df.iloc[[4]]

median = df.iloc[[5]]

upper_quartile = df.iloc[[6]]

max = df.iloc[[7]]

frames = [missing_ratio, min, lower_quartile, median, upper_quartile, max]
num_col_info_df = pd.concat(frames)
num_col_info_df = num_col_info_df.rename(index={0: 'missing_ratio', '25%': 'lower_quartile', '50%': 'median', '75%':'upper_quartile'})

num_col_info_df

                average_rating  num_review  num_employee
missing_ratio             72.4         0.0           0.0
min                        2.0         0.0          50.0
lower_quartile             3.6         0.0          50.0
median                     4.0         0.0          50.0
upper_quartile             4.4         3.0         150.0
max                        5.0      1486.0        1001.0

### Với mỗi cột có kiểu dữ liệu không phải dạng số, các giá trị được phân bố như thế nào?

Với các cột có kiểu dữ liệu không phải số, ta sẽ tính:
- Tỉ lệ % (từ 0 đến 100) các giá trị thiếu 
- Số lượng các giá trị
- Tỉ lệ % (từ 0 đến 100) của mỗi giá trị được sort theo tỉ lệ % giảm dần

Lưu kết quả vào DataFrame `cat_col_info_df`, trong đó: 
- Tên của các cột là tên của các cột không phải số trong `df_companies`
- Tên của các dòng là: "missing_ratio", "num_values", "value_ratios"  

Để dễ nhìn, tất cả các giá trị đều được làm tròn với 1 chữ số thập phân bằng phương thức `.round(1)`.

Vì chưa có nhiều thời gian để tìm hiểu kiến thức nên nhóm chỉ thực hiện đối với một số cột: `company_id`, `company_name`, `type`, `country`, `working_day`, `OT`, `num_employee`

In [13]:
list_cat_col = ['company_id', 'company_name', 'type', 'country', 'working_day','OT']

df = df_companies[list_cat_col].copy()

missing_ratio = (df.isnull().sum()*100/num_rows).round(1)
missing_ratio = missing_ratio.to_frame().T
missing_ratio = missing_ratio.rename(index={0: 'missing_ratio'})

num_values = df.nunique()
num_values = num_values.to_frame().T
num_values = num_values.rename(index={0: 'num_values'})

value_ratios = df.apply(lambda x: dict((x.value_counts(normalize = True)*100).round(1)))
for val in value_ratios.values:
    val = dict(sorted(val.items(), key = lambda x: x[1], reverse = True))
value_ratios = value_ratios.to_frame().T
value_ratios = value_ratios.rename(index={0: 'value_ratios'})

frames = [missing_ratio, num_values, value_ratios]
cat_col_info_df = pd.concat(frames)

cat_col_info_df

,company_id,company_name,type,country,working_day,OT
missing_ratio,0.0,0.0,0.0,0.0,0.7,8.6
num_values,2041,2041,2,39,2,4
value_ratios,"{'kms-technology': 0.0, 'viet-money-jsc': 0.0, 'toss-viva-republica-vietnam': 0.0, 'hyperion360'...","{'KMS Technology': 0.0, 'Viet Money Jsc': 0.0, 'Toss (Viva Republica Vietnam)': 0.0, 'Hyperion36...","{'Product': 75.2, 'Outsourcing': 24.8}","{'Vietnam': 58.9, 'Japan': 9.6, 'Singapore': 7.9, 'United States': 6.8, 'Korea, Republic of': 4....","{'Monday - Friday': 91.6, 'Monday - Saturday': 8.4}","{'No OT': 85.2, 'Extra salary for OT': 12.1, 'Extra days off for OT': 2.0, 'OT included in base ..."

<b><h2>Tiền xử lý dữ liệu ( Tiếp tục )</h2></b>

**Xử lý các giá trị null**

In [14]:
list_null_cols = ['working_day', 'OT', 'overview', 'expertise', 'benifit']

df_companies[list_null_cols] = df_companies[list_null_cols].fillna("")

df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2041 entries, 0 to 2040
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_id      2041 non-null   object
 1   company_name    2041 non-null   object
 2   average_rating  563 non-null    float64
 3   num_review      2041 non-null   int32
 4   city            2041 non-null   object
 5   type            2041 non-null   object
 6   num_employee    2041 non-null   int64
 7   country         2041 non-null   object
 8   working_day     2041 non-null   object
 9   OT              2041 non-null   object
 10  overview        2041 non-null   object
 11  expertise       2041 non-null   object
 12  benifit         2041 non-null   object
 13  logo_link       2041 non-null   object
dtypes: float64(1), int32(1), int64(1), object(11)
memory usage: 215.4+ KB

Cột `average_rating` cũng có các giá trị null nên ta tiếp tục xử lý giá trị null ở cột này

In [15]:
df_companies['average_rating'] = df_companies['average_rating'].fillna(0)

Tiếp theo ta sẽ đi đến bước đưa ra những câu hỏi về dữ liệu.