<h1><b>Đồ án thu thập dữ liệu</b></h1>
Thông tin nhóm:

<h2><b>Mô tả đồ án</b></h2>

bổ sung sau

<h2><b>Thu thập dữ liệu</b></h2>

Dữ liệu được thu thập từ trang web `itviec.com` và nguồn tải về là trên Kaggle. 

Link: https://www.kaggle.com/datasets/halhuynh/it-jobs-dataset?resource=download&select=jobs.csv

Licence: Unknown

<b><h2>Khám phá dữ liệu</b></h2>

<b>improt các thư viện</b>

In [1]:
import pandas as pd
import numpy as np

</b>Đọc dữ liệu vào biến `df_job` bằng pandas.</b>

In [2]:
#   YOUR CODE HEAR
df_job = pd.read_csv('../data/jobs.csv')
df_job.head(5)

,job_id,company_id,job_name,taglist,location,three_reasons,description
0,kms-technology:jrsr_qa_engineer_kms_labs_bonus,kms-technology,"(Jr/Sr) QA Engineer, KMS Labs - BONUS",QA QC English Tester,"290/26 Nam Ky Khoi Nghia, ward 8, District 3, ...",Inspired Leadership Team and Talented Colleagu...,KMS Labs is the startup incubation arm of KMS ...
1,kms-technology:engineering_manager_bonus,kms-technology,Engineering Manager - BONUS,Project Manager Agile English,"02 Tan Vien, ward 2, Tan Binh, Ho Chi Minh",Inspired Leadership Team and Talented Colleagu...,Full 13th Month Salary. ***Apply and Join in S...
2,kms-technology:fullstack_mobile_mobilenodejs_k...,kms-technology,"Fullstack Mobile (Mobile,NodeJs) Kobiton",NodeJS React Native Fresher Accepted,"02 Tan Vien, ward 2, Tan Binh, Ho Chi Minh",Inspired Leadership Team and Talented Colleagu...,is the mobile experience platform trusted by l...
3,kms-technology:jrsrprincipal_java_developer_bonus,kms-technology,(Jr/Sr/Principal) Java Developer- BONUS,Java JavaScript Spring,"174 Thai Ha, Dong Da, Ha Noi",Inspired Leadership Team and Talented Colleagu...,Full 13th Month Salary ***Apply and Join in Se...
4,kms-technology:product_manager_kms_labs_bonus,kms-technology,"Product Manager, KMS Labs - BONUS",Product Manager English Manager,"290/26 Nam Ky Khoi Nghia, ward 8, District 3, ...",Inspired Leadership Team and Talented Colleagu...,KMS Labs\r\n is the startup incubation arm of ...

<b>Dữ liệu gồm bao nhiêu dòng và cột, lưu số dòng và số cột vào 2 biến `num_rows` và `num_cols`.</b>

In [3]:
#   YOUR CODE HEAR
num_rows = df_job.shape[0]
num_cols = df_job.shape[1]
print(num_cols)
print(num_rows)

7
1412

Mỗi dòng ở đây thể hiện cho một việc làm mà nhà tuyển dụng muốn tuyển dụng.

Các cột thể hiện những mô tả về công việc của nhà tuyển dụng:
- job_id: Loại công việc 
- copany_id: Loại công ti
- job_name: Tên công việc
- taglist: Danh sách từ khóa liên quan đến công việc
- location: Địa điểm làm việc
- three_reasons: Lợi ích khi làm việc tại đây
- description: Mô tả thêm về công việc

Các dòng và cột đều không có vấn đề, chúng ta tiếp tục khám phá dữ liệu.

<b>Các dòng của dữ liệu có bị lặp không, lưu vào biến `have_duplicated_rows` là `False` nếu không lặp và ngược lại.</b>

In [4]:
#   YOUR CODE HEAR
have_duplicated_rows = False
if df_job[df_job.duplicated()].empty == True:
    have_duplicated_rows == True
print(have_duplicated_rows)

False

<b>Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?</b>

Lưu giá trị của các kiểu dữ liệu vào biến `col_dtypes`.

In [5]:
#   YOUR CODE HEAR
df_job.dtypes
col_dtypes = df_job.dtypes
print(col_dtypes)

job_id           object
company_id       object
job_name         object
taglist          object
location         object
three_reasons    object
description      object
dtype: object

<b>Tìm kiếm kiểu dữ liệu thật sự của các cột có dtype là object.</b>

In [6]:
# YOUR CODE HERE
def open_object_dtype(s):
    dtypes = set()
    s.apply(lambda x : dtypes.add(type(x)))
    return dtypes

for i in df_job.columns:
    print(i," ", open_object_dtype(df_job[i]))

job_id   {<class 'str'>}
company_id   {<class 'str'>}
job_name   {<class 'str'>}
taglist   {<class 'str'>}
location   {<class 'str'>}
three_reasons   {<class 'str'>, <class 'float'>}
description   {<class 'str'>}

Ta có thể thấy những vấn đề sau khi khám phá:
- Cột `three_reasons` có những giá trị là float, đây có thể là những giá trị NaN nên hãy chuyển nó sang dạng chuỗi rỗng để tiện cho việc sử dụng sau này.
- Cột `description` là những giá trị có các kí tự `\r` hoặc `\n` vì thế ta nên lưu những giá trị trong cột này vào 1 dict để dễ lưu trữ hơn.
- Ngoài ra dữ liệu không có những kiểu dữ liệu dạng số và ngày tháng, điều này giúp tiền xử lí không quá phức tạp.

<h2><b>Tiền xử lí dữ liệu </b></h2>

<b>Đổi giá trị NaN sang chuỗi rỗng.</b>

In [7]:
df_job['three_reasons'] = df_job['three_reasons'].replace([np.nan],'')

<b>Lưu giá trị của cột description vào list.</b>

In [8]:

if type(df_job['description'].at[0]) != list:
    df_job['description'] = df_job['description'].replace(r'\n','',regex=True)
    
    df_job['description'] = df_job['description'].apply(lambda x: x.split('\r'))
    
    df_job['description'] = df_job['description'].apply(lambda x: list(filter(None, x)))

<b><h2>Khám phá dữ liệu ( Tiếp tục )</h2></b>

<b>Với mỗi cột có kiểu dữ liệu dạng categorical, các giá trị được phân bố như thế nào?</b>

Với mỗi cột dạng categorical, bạn tính tỉ lệ % giá trị thiếu (từ 0 đến 100), số lượng giá trị khác nhau (không xét giá trị thiếu), list/array các giá trị khác nhau (không xét giá trị thiếu). Bạn lưu kết quả vào dataframe `cate_col_profiles_df`. Dataframe này có 3 dòng là "missing_ratio", "num_diff_vals", "diff_vals"; và có 7 cột là "job_id", "company_id", "job_name", "taglist", "location", "three_reasons", "description".

In [9]:
# YOUR CODE HEAR
# YOUR CODE HERE
cate_col_profiles_df = pd.DataFrame(
    index = pd.Index(['missing_ratio','num_diff_vals','diff_vals'])
)
def cate_col_profile(df):
    missing_ratio = 0
    num_diff_vals = 0
    diff_vals = None
    if type(df[0]) != list:
        missing_ratio = (df.isnull().sum() / df.shape[0]) * 100
        
        num_diff_vals = df.nunique()
        temp = df
        temp = temp.dropna()
        diff_vals = set(temp)
    else:
        missing_ratio = (df.isnull().sum() / df.shape[0]) * 100
        values = list()
        for i in df:
            if i not in values and len(i) != 0:
                values.append(i)
        num_diff_vals = len(values)
        diff_vals = values
    result = [missing_ratio,num_diff_vals,diff_vals]
    return result
for i in df_job.columns:
    cate_col_profiles_df[i] = cate_col_profile(df_job[i])
print(cate_col_profiles_df)

                                                          job_id  \
missing_ratio                                                0.0
num_diff_vals                                               1411
diff_vals      {hcl-vietnam-company-limited:java_backend_deve...

                                                      company_id  \
missing_ratio                                                0.0
num_diff_vals                                                682
diff_vals      {vinx-vietnam, anduin-transactions, taptap, wi...

                                                        job_name  \
missing_ratio                                                0.0
num_diff_vals                                               1359
diff_vals      {Mid/Senior Android Dev (Java/Kotlin), IT - Bu...

                                                         taglist  \
missing_ratio                                                0.0
num_diff_vals                                                923
diff_vals      { NodeJS   DevOps   VueJS   Fresher Accepted ,...

                                                        location  \
missing_ratio                                                0.0
num_diff_vals                                                696
diff_vals      {., District 4, Ho Chi Minh, 145 Dien Bien Phu...

                                                   three_reasons  \
missing_ratio                                                0.0
num_diff_vals                                                493
diff_vals      {, Work with Innovative Scandinavian SaaS\r\nW...

                                                     description
missing_ratio                                                0.0
num_diff_vals                                               1409
diff_vals      [[KMS Labs is the startup incubation arm of KM...

Có vẻ như không có gì bất thường ở dữ liệu cả, tiếp theo ta sẽ đi đến bước đưa ra những câu hỏi về dữ liệu.